{{ define "buttons-sidebar" }}
<div class="sidebar buttons-sidebar">
    <button id="undo-btn" class="btn" {{ if .DS }} style="display:none" {{ end }}>Undo</button>
    <button id="restart-btn" class="btn" {{ if .DS }} data-on-click="@post('new')" {{ end }}>Restart</button>
    <button id="settings-btn" class="btn" {{ if .DS }} data-on-click="$settings=true" {{ end }}>Settings</button>
    <button id="help-btn" class="btn"  {{ if .DS }} data-on-click="$help=true" {{ end }}>Help</button>
</div>
{{ end }}