{{ define "datastar" }}
<!doctype html>
<html lang="en">
<head>
    <title>Jawbreaker</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Jawbreaker Game, also called Same Game"/>
    <meta name="keywords" content="jawbreaker, same game, online games, free games"/>
    <meta name="rating" content="Safe For Kids"/>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{.StyleCSS}}"/>
    <style>
        #game {
            grid-template-columns: repeat({{.Size}}, {{.Block}}px);
            grid-template-rows: repeat({{.Size}}, {{.Block}}px);
            gap: 2px;
        }
    </style>
    <script type="module" src="{{.DatastarJS}}"></script>
</head>
<body>
<header id="page-header"
        class="page-header"
        data-on-load__delay.2s="document.getElementById('page-header').classList.add('fade-out')">
    <h1>Jawbreaker</h1>
</header>
<div class="container"
     data-on-load="@post('new');"
     data-signals="{
     board:'',
     session: '{{.SessionID}}',
     bonusScore:0,
     currentScore:0,
     bestScore:{{.BestScore}},
     lastScore:{{.LastScore}},
     remainingPieces:0,
     piecesText:'pieces',
     help:false,
     gameOver:false}"
>
    {{ template "sidebar" . }}
    <main id="game-container"
          data-on-click="@post('click/'+evt.target.id)"
          data-on-mouseover="@post('mouse/'+evt.target.id)"
          data-on-mouseleave="@post('mouse/exit')"
          data-on-signal-change-board="renderBoard($board)"
        >
        <div id="game"></div>
        {{ template "gameover" . }}
    </main>
</div>

{{ template "help" . }}

<script>
    const PieceSpace =       parseInt('{{.GameMechanics.PieceSpace}}')
    const White =            parseInt('{{.GameMechanics.White}}');
    const Purple =           parseInt('{{.GameMechanics.Purple}}');
    const Blue =             parseInt('{{.GameMechanics.Blue}}');
    const Green =            parseInt('{{.GameMechanics.Green}}');
    const Red =              parseInt('{{.GameMechanics.Red}}');
    const Yellow =           parseInt('{{.GameMechanics.Yellow}}');
    const PowerX =           parseInt('{{.GameMechanics.PowerX}}');
    const PowerPlus =        parseInt('{{.GameMechanics.PowerPlus}}');
    const PowerCircle =      parseInt('{{.GameMechanics.PowerCircle}}');
    const PowerRect =        parseInt('{{.GameMechanics.PowerRect}}');
    const PowerFill =        parseInt('{{.GameMechanics.PowerFill}}');
    const PowerRotateRight = parseInt('{{.GameMechanics.PowerRotateRight}}');
    const PowerRotateLeft =  parseInt('{{.GameMechanics.PowerRotateLeft}}');
    const PieceSelected =    parseInt('{{.GameMechanics.PieceSelected}}');

    function decodeBase64(base64String) {
        const binaryString = atob(base64String);
        const byteArray = new Uint8Array(binaryString.length);
        for (let i = 0; i < binaryString.length; i++) {
            byteArray[i] = binaryString.charCodeAt(i);
        }

        return byteArray;
    }

    function renderBoard(encodedBytes) {
        const board = decodeBase64(encodedBytes);

        let str = ""
        for (let i = 0; i < board.length; i++) {
            let p = board[i];
            str += `<div id="piece${i}" class="piece ${pieceColor(p)} ${isSelected(p) ? "connected" : ""}">${pieceIcon(p)}</div>`;
        }

        document.getElementById("game").innerHTML = str;
    }

     function pieceColor(piece) {
        const color = Math.floor(piece / PieceSpace) * PieceSpace
        switch (color) {
            case Purple:
                return "purple"
            case Blue:
                return "blue"
            case Green:
                return "green"
            case Red:
                return "red"
            case Yellow:
                return "yellow"
            default:
                return piece % PieceSpace === White ? "white" : "gray";
        }
    }

    function pieceIcon(piece) {
        let power = piece % PieceSpace
        if (power >= PieceSelected) {
            power = power - PieceSelected;
        }
        switch (power) {
            case PowerX:
                return "&#10005;"
            case PowerPlus:
                return "&#43;"
            case PowerCircle:
                return "&#1054;"
            case PowerRect:
                return "&#127020;"
            case PowerFill:
                return "&#9734;"
            case PowerRotateLeft:
                return "&#8617;"
            case PowerRotateRight:
                return "&#8618;"
            default:
                return ""
        }
    }

    function isSelected(piece) {
        return piece % PieceSpace >= PieceSelected;
    }
</script>
</body>
</html>
{{ end }}