{{ define "datastar" }}
<!doctype html>
<html lang="en">
<head>
    <title>Jawbreaker</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Jawbreaker Game, also called Same Game"/>
    <meta name="keywords" content="jawbreaker, same game, online games, free games"/>
    <meta name="rating" content="Safe For Kids"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/{{.StyleUrl}}"/>
    <style>{{.GameStyle}}</style>
    <script type="module" src="/{{.DatastarUrl}}"></script>
</head>
<body>
<header id="page-header"
        class="page-header"
        data-on-load__delay.2s="document.getElementById('page-header').classList.add('fade-out')">
    <h1>Jawbreaker</h1>
</header>
<div class="container"
     data-on-load="@post('new');"
     data-signals="{
     board:'',
     rows:{{.Rows}},
     cols:{{.Cols}},
     score:0,
     best:{{.BestScore}},
     last:{{.LastScore}},
     bonus:0,
     remaining:0,
     pieces:'pieces',
     help:false,
     gameOver:false}"
>
    {{ template "scores-sidebar" . }}
    <main id="game-container"
          data-on-click="@post('click/'+evt.target.id)"
          data-notfornow-on-mouseover="@post('mouse/'+evt.target.id)"
          data-notfornow-on-mouseleave="@post('mouse/exit')"
          data-on-signal-change-board="renderBoard($board)"
          data-on-signal-change-game-over="gameOver($score, $best)"
    >
        <div id="game"></div>
        {{ template "gameover" . }}
    </main>
    {{ template "buttons-sidebar" . }}
</div>

{{ template "help" . }}
{{ template "settings" . }}

<script>
    const PieceSpace = {{.GameMechanics.PieceSpace}};
    const White = {{.GameMechanics.White}};
    const Purple = {{.GameMechanics.Purple}};
    const Blue = {{.GameMechanics.Blue}};
    const Green = {{.GameMechanics.Green}};
    const Red = {{.GameMechanics.Red}};
    const Yellow = {{.GameMechanics.Yellow}};
    const PowerX = {{.GameMechanics.PowerX}};
    const PowerPlus = {{.GameMechanics.PowerPlus}};
    const PowerCircle = {{.GameMechanics.PowerCircle}};
    const PowerRect = {{.GameMechanics.PowerRect}};
    const PowerFill = {{.GameMechanics.PowerFill}};
    const PowerRotateRight = {{.GameMechanics.PowerRotateRight}};
    const PowerRotateLeft = {{.GameMechanics.PowerRotateLeft}};
    const PieceSelected = {{.GameMechanics.PieceSelected}};

    const PieceIcons = new Map([
        [PowerX, "&#10005;"],
        [PowerPlus, "&#43;"],
        [PowerCircle, "&#1054;"],
        [PowerRect, "&#127020;"],
        [PowerFill, "&#9734;"],
        [PowerRotateLeft, "&#8617;"],
        [PowerRotateRight, "&#8618;"],
    ]);

    const PieceColors = new Map([
        [Purple, "purple"],
        [Blue, "blue"],
        [Green, "green"],
        [Red, "red"],
        [Yellow, "yellow"],
    ]);

    function gameOver(score, best) {
        setCookie("{{.CookieName}}", `${score}|${score > best ? score : best}`);
    }

    function setCookie(name, value, days = 365) {
        const date = new Date();
        date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
        document.cookie = `${name}=${value};expires=${date.toUTCString()};path=/`;
    }

    function decodeBase64(base64String) {
        const binaryString = atob(base64String);
        const byteArray = new Uint8Array(binaryString.length);
        for (let i = 0; i < binaryString.length; i++) {
            byteArray[i] = binaryString.charCodeAt(i);
        }

        return byteArray;
    }

    function renderBoard(encodedBytes) {
        const board = decodeBase64(encodedBytes);

        let str = ""
        for (let i = 0; i < board.length; i++) {
            let p = board[i];
            str += `<div id="piece${i}" class="piece ${pieceColor(p)} ${isSelected(p) ? "connected" : ""}">${pieceIcon(p)}</div>`;
        }

        document.getElementById("game").innerHTML = str;
    }

    function pieceColor(piece) {
        const color = Math.floor(piece / PieceSpace) * PieceSpace

        let name = PieceColors.get(color);

        return name ? name : (piece % PieceSpace === White ? "white" : "gray");
    }

    function pieceIcon(piece) {
        let power = piece % PieceSpace
        if (power >= PieceSelected) {
            power = power - PieceSelected;
        }

        return PieceIcons.get(power) || "";
    }

    function isSelected(piece) {
        return piece % PieceSpace >= PieceSelected;
    }
</script>
</body>
</html>
{{ end }}
