{{ define "init" }}
<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        const hasTouchCapability = "ontouchstart" in window || navigator.maxTouchPoints > 0;
        const isTablet = hasTouchCapability && Math.min(window.innerWidth, window.innerHeight) >= 600;
        const isMobile = hasTouchCapability && !isTablet;
        const gameOptions = {
            rows: isMobile ? {{ .MRows }} : {{ .Rows }},
            cols: isMobile ? {{ .MCols }} : {{ .Cols }},
            blockSize: isMobile ?{{ .MBlock }} : {{ .Block }},
            touch: hasTouchCapability,
            weightedFills: true,
        };

        initGame(gameOptions);

        setTimeout(() => {
            const header = document.getElementById('page-header');
            if (header) {
                header.classList.add('fade-out');
            }
        }, 2000);
    });
</script>{{ end }}