{{ define "init" }}
<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        const mobile = "ontouchstart" in window || navigator.maxTouchPoints > 0;

        const gameOptions = {
            rows: mobile ? {{ .MRows }} : {{ .Rows }},
            cols: mobile ? {{ .MCols }} : {{ .Cols }},
            blockSize: mobile ?{{ .MBlock }} : {{ .Block }},
            cookieName: "{{ .CookieName }}",
            mobile: mobile,
            weightedFills: true,
        };

        initGame(gameOptions);

        setTimeout(() => {
            const header = document.getElementById('page-header');
            if (header) {
                header.classList.add('fade-out');
            }
        }, 2000);
    });
</script>{{ end }}