{{ define "scores-sidebar" }}
<div class="sidebar scores-sidebar">
    <div class="score-container">
        <div class="score-box">
            <div class="score-label">Current</div>
            <div id="current-score" class="score-value" {{ if .DS }} data-text="$score" {{ end }}>0</div>
        </div>
        <div class="score-box">
            <div class="score-label">Last</div>
            <div id="last-score" class="score-value"  {{ if .DS }} data-text="$last" {{ end }}>0</div>
        </div>
        <div class="score-box">
            <div class="score-label">Best</div>
            <div id="best-score" class="score-value"  {{ if .DS }} data-text="$best" {{ end }}>0</div>
        </div>
    </div>
</div>
{{ end }}