{{ define "sidebar" }}
<div class="sidebar">
    <div class="score-container">
        <div class="score-box">
            <div class="score-label">Current</div>
            <div id="current-score" class="score-value" {{ if .DS }} data-text="$currentScore" {{ end }}>0</div>
        </div>
        <div class="score-box">
            <div class="score-label">Last</div>
            <div id="last-score" class="score-value"  {{ if .DS }} data-text="$lastScore" {{ end }}>0</div>
        </div>
        <div class="score-box">
            <div class="score-label">Best</div>
            <div id="best-score" class="score-value"  {{ if .DS }} data-text="$bestScore" {{ end }}>0</div>
        </div>
    </div>
    <button id="restart-btn" class="btn" {{ if .DS }} data-on-click="@post('new')" {{ end }}>Restart</button>
    <button id="undo-btn" class="btn" style="display:none">Undo</button>
    <button id="help-btn" class="help-btn"  {{ if .DS }} data-on-click="$help=true" {{ end }}>Help</button>
</div>
{{ end }}
